html, body {
  margin:0;
  padding:0;
}
body {
  padding-bottom:30px;
  text-align:center;
  font-size:13px;
}
h1 {
	font-size:1.4em;
}


/* ====== */

.swapgallerywithdots {
  width:300px;
  margin:0 auto 20px;
}
  .gallery {
    width:300px;
    overflow:hidden;
    position:relative;
    margin:0 0 10px;
    background:#666;
  }
    .galleryinner {
      position:absolute;
      left:0;
      top:0;
    }
      .galleryinner2 {
        position:absolute;
        left:-20px;
        top:0;
      }
        .galleryitem {
          width:300px;
          background:#f00;
          color:#fff;
          text-align:center;
          float:left;
          margin:0 0 0 20px;
        }
  .prev,
  .next {
    font-size:20px;
    border:1px solid #000;
    color:#000;
    display:inline-block;
    padding:10px 30px;
  }
  .prev {
    margin:0 10px 0 0;
  }
  .next {
    margin:0 0 0 10px;
  }
  .dots {
    text-align:center;
  }
    .dotitem {
      display:inline-block;
      *display:inline;
      *zoom:1; /* ie */
      vertical-align:top;
      width:10px;
      height:10px;
      background:#000;
      margin:0 2px;
      border-radius:5px;
      font-size:0px;
      cursor:pointer;
    }
    .dotitem.active {
    }
      .dotitem.active span {
        display:inline-block;
        *display:inline;
        *zoom:1; /* ie */
        vertical-align:top;
        width:6px;
        height:6px;
        margin:2px 0 0;
        background:#fff;
        border-radius:3px;
      }
